<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your course</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Course name</h6>
              <small class="text-muted">{{course.name}}</small>
            </div>
            <span class="text-muted">{{course.price | currency:'INR'}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (INR)</span>
            <strong>{{course.price | currency:'INR'}}</strong>
          </li>
        </ul>
      </div>

      <!-- Personal detauls form -->
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Personal Details</h4>
        <form #f="ngForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstname">First name*</label>
              <input type="text" class="form-control" id="firstname" name="firstname" #firstname="ngModel"
                     minlength="4" required [(ngModel)]="student.firstName">
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                   class="alert alert-danger">

                <div *ngIf="firstname.errors.required">
                  First Name is required.
                </div>
                <div *ngIf="firstname.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name*</label>
              <input type="text" class="form-control" id="lastName" name="lastname" #lastname="ngModel"
                     [(ngModel)]="student.lastname" required>
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                   class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                  Last Name is required.
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Username*</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Username" required=""
                     #username="ngModel" name="username" [(ngModel)]="student.username">
              <div *ngIf="username.invalid && (username.dirty || username.touched)"
                   class="alert alert-danger">
                <div *ngIf="username.errors.required">
                  User Name is required.
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email <span class="text-muted"></span></label>
            <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="student.email"
                   placeholder="you@example.com" pattern="[^ @]*@[^ @]*" #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.pattern">
                Enter correct email
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" [(ngModel)]="student.address">
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Country</label>
              <select class="custom-select d-block w-100" id="country" name="country" [(ngModel)]="student.country">
                <option value="">Choose...</option>
                <option>India</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" id="state" name="state" [(ngModel)]="student.state">
                <option value="">Choose...</option>
                <option>Karnataka</option>
              </select>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder="" name="zip" [(ngModel)]="student.zip">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
              address</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
              <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required="">
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required="">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg" (click)="register()" [disabled]="f.invalid">Continue to register
          </button>
          <button class="btn btn-secondary btn-lg" (click)="goBack()">Back</button>
        </form>
      </div>
    </div>
  </div>
</main>
