<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="favicon.ico">
        <strong class="span9">Katuk Institution</strong><br>
        <span class="span3 title-text font-italic small">by Ajay Kumar Tiwari</span>
      </a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="favicon.ico" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Katuk</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">About</a></li>
          <li><a class="text-muted" href="#">Leadership</a></li>
          <li><a class="text-muted" href="#">Careers</a></li>
          <li><a class="text-muted" href="#">Certificates</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Connect</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">Twitter</a></li>
          <li><a class="text-muted" href="#">LinkedIn</a></li>
          <li><a class="text-muted" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>More</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Help</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>


