<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Katuk Institution</h1>
      <p class="lead text-muted">Katuk institution has achieved milestone in AI. Join us to change the world.</p>
    </div>
  </section>

  <section class="text-center">
    <div class="container">
      <h3 class="jumbotron-heading">Choose from our category of courses</h3>
    </div>
  </section>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">First Semester</h4>
          <i *ngIf="isFS" [ngClass]="{'selected-course':isFS}" class="fa fas fa-check"
             aria-hidden="true" style="position: absolute"> </i>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rs2000
            <small class="text-muted">/ mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Pythod Basci</li>
            <li>Statistics and Probability</li>
            <li>Data Structures & Algorithms</li>
            <li>Object-oriented programming</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" (click)="goTo('fs')">Enroll
          </button> <!--use button-outline-primary for diabled-->
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Second Semester</h4>
          <i *ngIf="isSS" [ngClass]="{'selected-course':isSS}" class="fa fas fa-check"
             aria-hidden="true" style="position: absolute"> </i>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rs3000
            <small class="text-muted">/ mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Bacic Concept Of Machine Learning</li>
            <li>Linear Algebra</li>
            <li>Supervised Learning</li>
            <li>Supervised Learning</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" (click)="goTo('ss')">Enroll</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Third Semester</h4>
          <i *ngIf="isTS" [ngClass]="{'selected-course':isTS}" class="fa fas fa-check"
             aria-hidden="true" style="position: absolute"> </i>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rs6000
            <small class="text-muted">/ mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Introduction to Neural Networks</li>
            <li>Convolutional Neural Networks</li>
            <li>Recurrent Neural Networks</li>
            <li>Generative Adversarial Networks</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" (click)="goTo('ts')">Enroll</button>
        </div>
      </div>
    </div>
  </div>
</main>